<div class="center">
<div class='aboutus'>
    
    <div >
        <h2 class='title'><strong>We're here to help you!</strong></h2>

        <div class="about-image"></div>

        <div class='content'>

            <h5>Are you leaving town but can't take your pet with you?</h5>
            <h5>Let Care for My Pet give you peace of mind</h5>
        </div>
        
        <div class='bullet-points'>
            <ul>
                <li>Connect with local animal lovers who can care for your pet in your absence.</li>
                <li>Find a petsitter you can trust near you. </li>
                <li>Our aim is to build a community of animal lovers who can rely on each other.</li>
            </ul>
        </div>

        <div class='content1'>
        <p><strong>Sign up</strong> for peace of mind next time you leave town!</p>
        <p>See some reviews on the Posts button.</p>
        </div>

    </div>

</div>
</div>
