<div class='aboutus'>
    
    <div >
        <h1 class='title'><strong>We are here to help you!</strong></h1>

        <div class='content'>

            <h5>Do you want to go on holidays and you don't want to move your pet(s) from home?</h5>
            <h5>Do you need to travel for work?</h5>
        </div>
        
        <div class='content'>
            <p>We have qualified petsitters who will keep you informed about each day that your pet stays at home without your presence to confort them. We want to give you and your pet the best experience!</p>
        </div>

        <div class='content1'>
        <article>Join us in "Sign up" and your concern will go away!</article>
        <article>See some reviews on Posts button!</article>
        </div>

    </div>

</div>
