<div class="center background">

<form class='form' action="" method="POST">
  <label class='label' for="input-name">Name</label>
  <input class='input' type="text" id="input-name" name="name" value="{{user.name}}" placeholder="Your Name" />

  <label class='label' for="input-email">Email</label>
  <input class='input' type="email" id="input-email" name="email" value="{{user.email}}" placeholder="Your Email" />

  <label class='label' for="input-type">Type</label>
  <input class='input' type="text" id="input-type" name="type" value="{{user.type}}" />

  <label class='label' for="input-location">Location</label>
  <input class='input' type="text" id="input-location" name="location" value="{{user.location}}" placeholder="Where are you at?" />

  <button class='sign'>Submit Changes</button>
</form>
</div>
