<div class="center" >
<div class="faq-container">
    <ul class ="paw">
        <div class='FAQ'>
            <li>
                <button class='question'>How does it work?</button>
                <div class='answer'> 
                    <p>To access this service you should do the following steps:
                            <ul>- Create an account </ul>
                            <ul>- Regist your pet(s)</ul>
                            <ul>- Make a request for a petsitter</ul>
                </div>
            </p>
            </li>
        </div>

        <div class='FAQ'>
        <li>
            <button class='question'>Can I choose the Petsitter that I want to hire?</button>
            <p class='answer'>Absolutely yes! But it will depend on their availability.</p>
        </li>
        </div>

        <div class='FAQ'>
        <li >
            <button class='question'>How does the payment process work?</button>
            <p class='answer'>Payment details must be agreed between both parties, but we recommend a pre-payment of 50% via MB way or bank transfer. </p>
        </li>
        </div>

        <div class='FAQ'>
        <li>
            <button class='question'>Are the petsitters qualified?</button>
            <p class='answer'>The petsitters are not required to have special qualifications, however Care for My Pet closely follows their reviews.</p>
        </li>
        </div>

        <div class='FAQ'>
        <li>
            <button class='question'>Can I meet the Petsitter before hiring?</button>
            <p class='answer'>Yes. We encourage you to meet each other beforehand and allow the pet to get to know the petsitter. When you contact the petsitter you sohuld schedule a meeting.</p>
        </li>
        </div>

        <div class='FAQ'>
        <li>
            <button class='question'>Is there a set price?</button>
            <p class='answer'>No. The prices are established by each petsitter, so they can vary. </p>
        </li>
        </div>

        <div class='FAQ'>
        <li>
            <button class='question'>Will I get a refund if I cancel the service?</button>
            <p class='answer'>Only if you cancel the service 7 or more days in advance.</p>
        </li>
        </div>

        <div class='FAQ'>
        <li>
            <button class='question'>Do the prices include pet food or medical care?</button>
            <p class='answer'>No. The food and all the materials for the pet need to be provided by the owner.</p>
        </li>
        </div>

    </ul>
    </div>
</div>


<script>
    let collapsible = document.getElementsByClassName("question");
    let i;

    for (i = 0; i < collapsible.length; i++) {
    collapsible[i].addEventListener("click", function() {
        this.classList.toggle("active");
        let answer = this.nextElementSibling;
        if (answer.style.display === "block") {
        answer.style.display = "none";
        } else {
        answer.style.display = "block";
        }
    });
    }
</script>