<div>
    <ul>
        <li>
        <strong>How does it work?</strong>
                To access to this service you should do the following steps:
                    - Create an account 
                    - Regist your pet(s)
                    - Make a request for a petsitter
        </li>
        <li>
        <strong>Can I choose the Petsitter that I want to hire?</strong>
                Absolutely yes! But it will depend on them availability.
        </li>

        <li>
        <strong>How does the payment process work?</strong>
                Pre-payment of 50% of the service price via MB way or bank transfer.
        </li>

        <li>
        <strong>Are the petsitters qualified?</strong>
                Yes! They will do their best to take care of your pet supplying all their needs.
        </li>

        <li>
            <strong>Can I meet the Petsitter before hiring?</strong>
                Yes. We encourage you to meet each other previously and introduce the animals.
                When you contact the petsitter you can schedule a visit or previous meeting.
        </li>

        <li>
            <strong>I choosed the Petsitter but I didn't get the contact.</strong>
                You need to make the pre-payment first.
        </li>

        <li>
            <strong>Do you have a table price?</strong>
                No. The prices are established by each Petsitter, so the prices can be variable according to each petsitter. 
        </li>

        <li>
            <strong>Will I get refunded if I cancel the service?</strong>
                Only if you cancel the service with 7 or more days in advance.
                In order to refund you, we emit a credit of 50% of the total amount pre-payed and you can use it in the next service.
        </li>

        <li>
            <strong>Does the prices include the feeding?</strong>
                No. The food and all the materials needed to the maintenance of the animals should be provided by the owner.
        </li>


    </ul>

</div>