<div>
    <p>
        <ul>
            <li>
            <strong>How does it work?</strong>
                    To access to this service you should do the following steps:
                        - Create an account 
                        - Regist your pet(s)
                        - Make a request for a petsitter
            </li>
            <li>
            <strong>Can I choose the Petsitter that I want to hire?</strong>
                    Absolutely yes! But it will depend on them availability.
            </li>

            <li>
            <strong>How does the payment process work?</strong>
                    Pre-payment of 50% of the service price via MB way or bank transfer.
            </li>

            <li>
            <strong>Are the petsitters qualified?</strong>
                    Yes! They will do their best to take care of your pet supplying all their needs.
            </li>



        </ul>
    </p>

</div>