<form actions="" method="POST">
  <label for="pet-name">Pet Name</label>
  <input type="text" id="pet-name" name="name" placeholder="Your Pet's name" />
  
  <label for="pet-species">Pet Species</label>
  <input type="text" id="pet-species" name="species" placeholder="Your Pet's species" />
  
  <label for="pet-breed">Pet Breed</label>
  <input type="text" id="pet-breed" name="breed" placeholder="Your Pet's breed" />
  
  <label for="pet-comment">Pet Comment</label>
  <input type="text" id="pet-commnet" name="comments" placeholder="Tell us about your pet!" />
  <button>Add your pet!</button>
</form>