<div class="center background">
<form class='form' actions="" method="POST">
  <label class='label' for="pet-name">Pet Name</label>
  <input class='input' type="text" id="pet-name" name="name" placeholder="Your Pet's name" />
  
  <label class='label' for="pet-species">Pet Species</label>
  <input class='input' type="text" id="pet-species" name="species" placeholder="Your Pet's species" />
  
  <label class='label' for="pet-breed">Pet Breed</label>
  <input class='input' type="text" id="pet-breed" name="breed" placeholder="Your Pet's breed" />
  
  <label class='label' for="pet-comment">Pet Comment</label>
  <input class='input' type="text" id="pet-commnet" name="comments" placeholder="Tell us about your pet!" />
  <button class='sign'>Add your pet!</button>
</form>
</div>