<form actions="" method="POST">
  <label for="pet-name">Pet Name</label>
  <input type="text" id="pet-name" name="name"  value="{{pet.name}}" placeholder="Your Pet's name" />
  
  <label for="pet-species">Pet Species</label>
  <input type="text" id="pet-species" name="species"  value="{{pet.sepecies}}" placeholder="Your Pet's species" />
  
  <label for="pet-breed">Pet Breed</label>
  <input type="text" id="pet-breed" name="breed"  value="{{pet.breed}}" placeholder="Your Pet's breed" />
  
  <label for="pet-comment">Pet Comment</label>
  <input type="text" id="pet-commnet" name="comments"  value="{{pet.comments}}" placeholder="Tell us about your pet!" />
  <button>Edit your pet!</button>
</form>