<div class="center background">
<form class="form" action="" method="POST">

  <label class="label" for="post-title">Post Title</label>
  <input class='input' type="text" id="post-title" name="title" required minlength="5" maxlength="140" placeholder="Give this post s title" />
  
  <label class="label" for="post-message">Message</label>
  <textarea input class='input' id="post-message" name="message" required placeholder="Explain what you're looking for: petwalking, feeding, play, overnight (at the host of sitter'at the host of sitter')" maxlength="2500"></textarea>
  
  <p class="label" >Tell us for when you need the service to be provided:</p>
  <label class="label" for="start">Start date:</label>
  <input class='input' type="date" id="startDate" name="startDate" required value="2020-05-20" min="2020-05-22" max="2020-12-31"/>

  <label class='label'for="end">End date:</label>
  <input class='input' type="date" id="endDate" name="endtDate" required value="2020-05-20" min="2020-05-22" max="2020-12-31"/>

  <button class='sign'>Publish</button>

  <p>Are you interested in providing this service?</p>
  <button>Contact Pet Owner</button>

</form>
</div>