<div class="center background">
<form class='form' method="POST">

  <label class='label' for="review-title">Review Title</label>
  <input class='input' type="text" id="review-title" name="title" required minlength="5" maxlength="140" placeholder="Give this post a title" />
  
  <label class='label' for="review-message">Message</label>
  <textarea class='input' id="review-message" name="message" required placeholder="Describe how was your experience with this user" maxlength="2000"></textarea>
  
  <label class='label' for="score">Give this user a score:</label>
  <input class='input' type="number" id="score" name="score" required min="1" max="5"/>

  <button class='sign'>Publish</button>

</form>
</div>