<div class="center background">
  <p class="greeting">Welcome back! good to see you again</p>
<form class='form' action="/authentication/signin" method="POST">
  <label class='label' for="input-email">Email</label>
  <input required class='input' type="email" id="input-email" name="email" placeholder="Your email" />
  
  <label class='label' for="input-password">Password</label>
  <input required class='input' type="password" name="password" id="input-password" placeholder="Your password" />
  
  <button class='sign'>Sign In</button>
</form>
</div>

