<form action="/authentication/signup" method="POST">
  <label class='label' for="input-name">Name</label>
  <input class='input' type="text" id="input-name" name="name" placeholder="Your Name" />

  <label class='label' for="input-email">Email</label>
  <input class='input' type="email" id="input-email" name="email" placeholder="Your Email" />

  <label class='label' for="input-type">What kind of user are you?</label>

  <select class='input' name="type" id="type-input">
    <option value="Pet Owner">Pet Owner</option>
    <option value="Petsitter">Petsitter</option>
  </select>

  <label class='label' for="input-location">Location</label>
  <input class='input' type="text" id="input-location" name="location" placeholder="Where are you at?" />

  <label class='label' for="input-password">Password</label>
  <input class='input' type="password" name="password" id="input-password" placeholder="A Strong Password" />

  <button class='sign'>Sign Up</button>
</form>

