@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 2; }

.center {
  width: 80vw;
  margin: 0 auto; }

a {
  color: inherit;
  text-decoration: none;
  color: #000; }

nav {
  padding-top: 1em;
  padding-right: 2em;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif; }
  nav a:hover {
    text-decoration: none;
    color: #444; }
  nav .sign-out-form {
    display: inline-block; }
  nav a,
  nav button {
    padding: 1em 0.8em;
    border: 0; }
    nav a:not(:last-child),
    nav button:not(:last-child) {
      margin-right: 1em; }

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit; }
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  p:not(:last-child) {
    margin-bottom: 1rem; }

img {
  width: 100%;
  max-width: 100%; }

form {
  display: flex;
  flex-direction: column; }

input,
textarea,
.btn {
  padding: 1em;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent; }

textarea {
  min-height: 8em;
  resize: vertical; }

.home-background {
  background-image: url("/images/markus-spiske--KSoCzdGRqE-unsplash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .home-background .main-title {
    font-weight: 300;
    font-size: 3em;
    color: #fff;
    font-family: 'Roboto', sans-serif; }

.homepage-button {
  width: 10em;
  height: 3.3em;
  padding: 16px 20px;
  background-color: #ef6327;
  border-radius: 0.3em;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  font-weight: 300; }

.logo {
  background-image: url("/images/logo.png");
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  right: 30em;
  bottom: 0.5em;
  height: 3em;
  width: 3em; }

.aboutus {
  padding: 0 8em; }
  .aboutus .title {
    text-align: center;
    margin-top: 2em;
    background-color: rgba(232, 217, 217, 0.3);
    transform: skew(9deg, 0deg);
    font-style: italic; }
  .aboutus .about-image {
    background-image: url("/images/user.png");
    width: 3em;
    height: 3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 22em;
    margin-top: 2em; }
  .aboutus .content {
    margin-top: 3em;
    text-align: center; }
  .aboutus .bullet-points {
    text-align: left;
    margin-top: 3em;
    padding: 0 2em; }
  .aboutus .content1 {
    margin-top: 3em;
    font-weight: 200; }
  .aboutus p {
    line-height: normal;
    text-align: center; }

.faq-container {
  margin-top: 2em; }
  .faq-container .FAQ {
    margin-bottom: 2em; }

.question {
  text-align: justify;
  font-weight: bold;
  background-color: rgba(232, 217, 217, 0.3);
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px; }

.answer {
  margin-left: 1em;
  padding: 0 18px;
  display: none;
  overflow: hidden; }

.paw {
  list-style-image: url("/images/paw20x20.png"); }

.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.form {
  margin-top: 1em; }

.label {
  align-self: left;
  margin-bottom: 0;
  margin-top: 1.5em;
  font-family: 'Roboto', sans-serif; }

.input {
  width: 30em;
  align-self: center;
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid #1a41413f;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: -4px; }

input[type='file'] {
  display: none; }

.sign {
  background-color: #ef6327;
  font-weight: 300;
  color: #fff;
  border-radius: 0.3em;
  width: 10em;
  height: 3.3em;
  margin-top: 1em;
  align-self: center;
  font-family: 'Roboto', sans-serif; }

.sign:hover {
  background-color: #41413f;
  transition: all 0.2s ease-in-out 0s; }

.space {
  margin-bottom: 4em; }

.greeting {
  max-width: 20em;
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em; }

.profile-container {
  margin-top: 2em; }

.profile-title {
  font-size: 1em;
  font-weight: 500;
  line-height: 0.8em;
  padding-top: 1em;
  margin-bottom: 0;
  max-width: 30%; }

hr {
  width: 14%;
  margin-left: 1em;
  height: 2px;
  background-color: #8041413f; }

.user-image {
  border-radius: 50%;
  overflow: hidden;
  height: 3em;
  width: 3em;
  position: relative;
  left: 1em;
  bottom: 2.5em;
  margin-right: 0.5em; }

.img {
  object-fit: cover;
  height: 3em;
  width: 3em; }

.user-name-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.profile-position {
  position: relative;
  left: 1.5em;
  bottom: 2em; }

.user-profile,
.pet-profile {
  background-color: #fff;
  box-shadow: 5px 5px 15px grey;
  margin-bottom: 2em;
  height: 12em;
  max-width: 50em; }
  .user-profile p,
  .user-profile a,
  .user-profile li,
  .pet-profile p,
  .pet-profile a,
  .pet-profile li {
    padding-left: 1em;
    font-weight: 200;
    line-height: 0.2cm;
    font-size: 15px; }
  .user-profile li,
  .pet-profile li {
    font-weight: 200;
    line-height: 0.8cm;
    font-size: 15px; }

.edit-button {
  color: #fff;
  font-size: 3em;
  background-color: #525351;
  padding: 6px 12px;
  width: 3em;
  height: 1em;
  position: relative;
  top: 0.2em;
  left: 38em; }
  .edit-button :hover {
    text-decoration: none;
    color: #fff; }

.pet {
  margin-left: 3em; }

.pet-info {
  position: relative;
  bottom: 3em; }

.profile-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2em 0 2em; }

.button {
  width: 140px;
  height: 40px;
  margin-left: 16px;
  margin-right: 20px;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  border-radius: 2px;
  background: black;
  border: 1px solid black; }
  .button :hover {
    transition: all 0.2s ease-in-out 0s;
    background-color: white;
    color: black;
    border-color: black;
    border-bottom: 1px solid black; }
  .button a a:hover {
    color: #000;
    cursor: pointer; }
  .button a,
  .button a:link,
  .button a:visited,
  .button a:hover,
  .button a:active {
    text-decoration: none;
    border-bottom: none; }

.post {
  background-image: url("/images/bubble.png");
  background-position: center;
  height: 30em;
  width: 48em;
  background-size: 45em 28em;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .post .title {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    position: relative;
    bottom: 3em;
    color: #40413f; }
  .post .message {
    max-width: 38em;
    max-height: 25em;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
    position: relative;
    bottom: 2em; }
  .post .caption {
    margin-left: 8em;
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    max-width: 50%;
    text-align: center;
    position: relative;
    bottom: 2em; }
  .post .button {
    position: relative;
    bottom: 3em;
    left: 10em; }

.comment {
  text-align: center;
  font-weight: 300; }

.container {
  margin-bottom: 5em; }
  .container .post-content {
    padding: 1em 10em; }
    .container .post-content h4 {
      margin-top: 1em; }
    .container .post-content p {
      line-height: 1.5em;
      text-align: justify;
      font-weight: 200; }
    .container .post-content button {
      color: #fff;
      font-size: 1em;
      font-weight: 300;
      background-color: #ef6327;
      padding: 6px 10px;
      width: 10em;
      height: 2.5em;
      border-radius: 0.3em;
      margin-bottom: 3em;
      position: relative;
      font-family: 'Roboto', sans-serif; }
    .container .post-content button:active {
      top: -1px; }
    .container .post-content .align {
      display: flex;
      justify-content: center; }

.review {
  background-color: #fff;
  box-shadow: 5px 5px 15px grey;
  margin-bottom: 2em;
  height: 10em;
  max-width: 50em; }
  .review a {
    margin-top: -1em; }
  .review .title {
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;
    padding-top: 1em;
    padding-left: 1em;
    max-width: 40%; }
  .review .message {
    padding-left: 1em;
    font-weight: 300;
    line-height: 1em;
    font-size: 0.9em;
    letter-spacing: 1px;
    max-width: 55em; }

.reviewed {
  width: 20em;
  margin-left: 10em;
  font-weight: 300; }

.hr-review {
  width: 20%;
  margin-left: 1em;
  height: 2px;
  background-color: #8041413f; }

.review-score {
  margin-left: 1em;
  width: 10em; }

.score {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 3em; }
  .score .score-icon {
    background-image: url("/images/bone2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 3em;
    height: 3em;
    position: relative;
    left: 30em;
    top: 3em; }

/*# sourceMappingURL=style.css.map */