@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

body {
  max-width: 52em;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 2; }

a {
  color: inherit;
  text-decoration: none; }

nav {
  display: flex; }
  nav a,
  nav button {
    padding: 1em 0;
    border: 0; }
    nav a:not(:last-child),
    nav button:not(:last-child) {
      margin-right: 1em; }
    nav a:first-child,
    nav button:first-child {
      margin-right: auto; }

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit; }
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  p:not(:last-child) {
    margin-bottom: 1rem; }

img {
  width: 100%;
  max-width: 100%; }

form {
  display: flex;
  flex-direction: column; }

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent; }

textarea {
  min-height: 8em;
  resize: vertical; }

.aboutus {
  padding: 70px 0; }

.title {
  text-align: center; }

.content {
  margin-top: 3em; }

.content1 {
  margin-top: 3em; }

.FAQ {
  margin-bottom: 2em; }

.question {
  text-align: justify;
  font-weight: bold;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px; }

.answer {
  margin-left: 1em;
  padding: 0 18px;
  display: none;
  overflow: hidden; }

.paw {
  list-style-image: url("/images/paw20x20.png"); }

.form {
  margin-top: 25%; }

.label {
  align-self: center;
  margin-top: 1em; }

.input {
  width: 30em;
  align-self: center; }

.sign {
  background-color: #eee;
  border-radius: 10px;
  width: 15em;
  align-self: center; }

.home-background {
  background-image: url("/images/markus-spiske--KSoCzdGRqE-unsplash.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .home-background .main-title {
    font-weight: 300;
    font-size: 3em;
    color: #fff;
    font-family: 'Roboto', sans-serif; }
  .home-background .homepage-button {
    width: 10em;
    height: 3.3em;
    padding: 16px 20px;
    background-color: #ef6327;
    border-radius: 0.3em;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    font-weight: 300; }

.profile-container .profile-title {
  font-size: 1em;
  font-weight: 500;
  font-style: italic;
  line-height: 1em;
  padding-top: 1em;
  margin-bottom: 0;
  background-color: #66777770;
  transform: skew(9deg, 0deg);
  max-width: 30%; }

.profile-container .user-image {
  border-radius: 50%; }

.user-profile,
.pet-profile {
  background-color: #fff;
  box-shadow: 5px 5px 15px grey;
  margin-bottom: 2em;
  height: 15em; }
  .user-profile .home-background,
  .pet-profile .home-background {
    background-image: url("/markus-spiske--KSoCzdGRqE-unsplash.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .user-profile .home-background .main-title,
    .pet-profile .home-background .main-title {
      font-weight: 300;
      font-size: 3em;
      color: #fff;
      font-family: 'Roboto', sans-serif; }
  .user-profile .homepage-button,
  .pet-profile .homepage-button {
    width: 10em;
    height: 3.3em;
    padding: 16px 20px;
    background-color: #ef6327;
    border-radius: 0.3em;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    font-weight: 300; }
  .user-profile .profile-container .profile-title,
  .pet-profile .profile-container .profile-title {
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    line-height: 1em;
    padding-top: 1em;
    margin-bottom: 0;
    background-color: #66777770;
    transform: skew(9deg, 0deg);
    max-width: 30%; }
  .user-profile .user-profile,
  .user-profile .pet-profile,
  .pet-profile .user-profile,
  .pet-profile .pet-profile {
    background-color: #fff;
    box-shadow: 5px 5px 15px grey;
    margin-bottom: 2em;
    height: 15em; }
    .user-profile .user-profile p,
    .user-profile .user-profile a,
    .user-profile .user-profile li,
    .user-profile .pet-profile p,
    .user-profile .pet-profile a,
    .user-profile .pet-profile li,
    .pet-profile .user-profile p,
    .pet-profile .user-profile a,
    .pet-profile .user-profile li,
    .pet-profile .pet-profile p,
    .pet-profile .pet-profile a,
    .pet-profile .pet-profile li {
      padding-left: 1em;
      font-weight: 200;
      line-height: 0.8em;
      font-size: 1em;
      letter-spacing: 1px; }
    .user-profile .user-profile li,
    .user-profile .pet-profile li,
    .pet-profile .user-profile li,
    .pet-profile .pet-profile li {
      font-weight: 200;
      line-height: 1.5em;
      font-size: 1em;
      letter-spacing: 1px; }
  .user-profile .post,
  .pet-profile .post {
    background-image: url("/images/output-onlinepngtools.png");
    background-position: center;
    height: 30em;
    max-width: 45em;
    background-repeat: no-repeat; }
    .user-profile .post :hover,
    .pet-profile .post :hover {
      text-decoration: none;
      color: #fff; }
  .user-profile .profile-buttons,
  .pet-profile .profile-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 3em; }
  .user-profile .button,
  .pet-profile .button {
    background-color: #ffc300;
    box-shadow: 4px 4px 0 #a0a6a6;
    padding: 6px 12px;
    width: 10em;
    height: 3em;
    border-radius: 0.3em;
    margin: 15px; }
    .user-profile .button p,
    .pet-profile .button p {
      color: #313333;
      padding-top: 5px;
      font-size: 1em;
      text-align: center;
      line-height: 1.5;
      text-align: center; }
    .user-profile .button p:hover,
    .pet-profile .button p:hover {
      color: #000;
      cursor: pointer; }
    .user-profile .button a,
    .user-profile .button a:link,
    .user-profile .button a:visited,
    .user-profile .button a:hover,
    .user-profile .button a:active,
    .pet-profile .button a,
    .pet-profile .button a:link,
    .pet-profile .button a:visited,
    .pet-profile .button a:hover,
    .pet-profile .button a:active {
      text-decoration: none;
      border-bottom: none; }
  .user-profile .post,
  .pet-profile .post {
    background-image: url("/output-onlinepngtools.png");
    background-position: center;
    height: 30em;
    max-width: 45em;
    background-repeat: no-repeat; }
    .user-profile .post .title,
    .pet-profile .post .title {
      font-size: 1.5em;
      text-align: center;
      font-weight: 500;
      padding-top: 1em;
      color: #40413f; }
    .user-profile .post .message,
    .pet-profile .post .message {
      max-width: 43em;
      font-size: 1em;
      font-weight: 300;
      text-align: center;
      line-height: 1em;
      margin-bottom: 7em; }
    .user-profile .post .caption,
    .pet-profile .post .caption {
      margin-left: 8em;
      background-color: rgba(255, 204, 53, 0.4);
      transform: skew(9deg, 0deg);
      font-style: italic;
      max-width: 60%;
      text-align: center; }
    .user-profile .post .button,
    .pet-profile .post .button {
      position: relative;
      bottom: 1.2em;
      left: 24em; }
  .user-profile .review,
  .pet-profile .review {
    background-color: #fff;
    box-shadow: 5px 5px 15px grey;
    margin-bottom: 2em;
    height: 10em; }
    .user-profile .review .title,
    .pet-profile .review .title {
      font-size: 1em;
      font-weight: 500;
      font-style: italic;
      line-height: 1em;
      padding-top: 1em;
      padding-left: 1em;
      background-color: #66777770;
      transform: skew(9deg, 0deg);
      max-width: 30%; }
    .user-profile .review .message,
    .pet-profile .review .message {
      padding-left: 1em;
      font-weight: 300;
      line-height: 0.8em;
      font-size: 0.9em;
      letter-spacing: 1px; }

.score {
  font-size: 1em;
  display: flex;
  width: 10em;
  background-image: url("/images/bone2.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: row;
  margin-right: 1em; }

/*# sourceMappingURL=style.css.map */